/* stylesheet.css */

body{text-align:justify;
font-size:small;
}

p { display: block;
 font-size: small;
 margin-top: 0em;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 text-indent: 20pt;
text-align:justify;
 }

.space-break {
margin-top: 0em;
margin-bottom: 0em;
text-indent: 0em;
}

.space-break1 {
margin-top: 1em;
margin-bottom: 1em;
text-indent: 0em;
}

.space-break3 {
margin-top: 1em;
margin-bottom: 1.5em;
text-indent: 0em;
}

.space-break2 {
margin-top: 1em;
margin-bottom: 1em;
text-indent: 0em;
margin-left: 2em;
margin-right: 0em;
}

.space-breaka {
margin-top: 1em;
margin-bottom: 1em;
text-indent: 2em;
}

.space-breakb {
margin-top: 0em;
margin-bottom: 0em;
text-indent: 2em;
}

div.blockquote, div.epigraph, div.letter {
margin-left: 20pt;
margin-right: 20pt;
margin-top: 1.5em;
margin-bottom: 1.5em;
}

div.blockquote1 {
margin-left: 0em;
margin-right: 0em;
margin-top: 0em;
margin-bottom: 0em;
}

div.note {
margin-left: 20pt;
margin-right: 20pt;
margin-top: 1.5em;
margin-bottom: 1.5em;
border: 1pt solid black;
padding: 3pt;
}

div.closer, div.dateline {
margin-top: 1em;
}


p.signed {
text-indent: 0pt;
text-align: right;
}

.attribution {
text-indent: 0em;
text-align: right;
}

li {
font-size: small;
}

li p {
text-indent: 0em;
}

ul, ol {
margin-top: 1em;
margin-bottom: 1em;
}

ul.ula {
margin-top: 1em;
margin-bottom: 1em;
margin-left: 2.5em;
text-indent: 0em;
}

ul.ul0 {
margin-top: 0em;
margin-bottom: 0em;
margin-left: 2.6em;
text-indent: 0em;
}

ol.ola {
margin-top: 0.2em;
margin-bottom: 1em;
margin-left: 1.2em;
text-indent: 0em;
}

ul.ul1 {
margin-top: 0.2em;
margin-bottom: 1em;
text-indent: 0em;
}

ol.ol1 {
margin-top: 0.2em;
margin-bottom: 1em;
margin-left: 3.2em;
text-indent: 0em;
}

ul.no-mark {
list-style-type: none;
text-indent: -1em;
}

.noindent {
font-size: small;
text-indent: 0em;
margin-top: 0em;
margin-bottom: 0em;
text-align: justify;
}

.noindenta {
font-size: small;
text-indent: 0em;
margin-top: 0.8em;
margin-bottom: 0em;
text-align: justify;
}

h1 {
font-size: medium;
text-indent: 0em;
font-weight: normal;
margin-top: 2em;
margin-bottom: 0.5em;
}

h2 {
text-indent: 0em;
font-size: medium;
font-weight: normal;
text-align: center;
margin-top: 1.5em;
margin-bottom: 0.8em;
}

h3 {
text-indent: 0em;
font-size: medium;
font-weight: normal;
margin-top: 0.7em;
margin-bottom: 0.2em;
}

h1.part-number {
font-size: large;
margin-top: 3em;
margin-bottom: 0em;
text-align: left;
text-indent: 1.5em;
}

h1.part-title {
font-size: x-large;
margin-top: 1em;
margin-bottom: 3em;
text-align: left;
text-indent: 2em;
}

h1.chapter-number {
font-size: medium;
margin-top: 3em;
margin-bottom: 1em;
text-align: left;
text-indent: 0pt;
}

h1.chapter-title {
font-size: large;
margin-top: 1em;
margin-bottom: 2em;
text-align: left;
text-indent: 0pt;
}

h1.appendix-title {
font-size: large;
margin-top: 3em;
margin-bottom: 1.5em;
text-align: center;
text-indent: 0pt;
}

h1.appendix-title1 {
font-size: large;
margin-top: 3em;
margin-bottom: 3em;
text-align: left;
text-indent: 0pt;
}

h1.acknowledgements-title, h1.preface-title, h1.toc-title, h1.glossary-title {
font-size: 2em;
margin-top: 3em;
margin-bottom: 2em;
text-align: left;
text-indent: 0pt;
}

h1.note-title {
font-weight: bold;
padding-right: 6pt;
font-size: small;
margin-top: 3pt;
margin-bottom: 3pt;
}

h1.copyright-title {
font-size: medium;
margin-top: 3em;
margin-bottom: 2em;
text-align: center;
font-weight: normal;
text-indent: 0pt;
}

.toc-part {
font-size: medium;
text-align: center;
text-indent: 0em;
margin-top: 1.5em;
margin-bottom: 1em;
font-weight: bold;
}

.toc-chapter {
font-size: small;
text-indent: 0em;
margin-top: 6pt;
margin-bottom: 0em;
margin-left:1em;
}

.toc-chapter1 {
font-size: small;
text-indent: 0em;
margin-top: 1em;
margin-bottom: 0em;
margin-left:1em;
}

.toc-preface, .toc-acknowledgements, .toc-glossary, .toc-appendix {
font-size: small;
text-indent: 0em;
margin-top: 6pt;
margin-bottom: 0pt;
margin-left:1em;
}

.toc-h1 {
font-size: small;
text-indent: 0em;
margin-top: 0em;
margin-left: 20pt;
}

.copyright-space {
text-indent: 0em;
margin-top: 1em;
font-size: small;
text-align: center;
}

.copyright {
text-indent: 0em;
margin-top: 0em;
font-size: small;
text-align: center;
}


.glossentry {
padding-left: 20pt;
text-indent: -20pt;
margin-top: 6pt;
}

.endnote {
text-indent: 0em;
margin-bottom: 1em;
}

.footnote {
font-size: small;
text-indent: 0em;
page-break-before: always;
}

.line {
text-indent: 0em;
}

span.underline {
text-decoration: underline;
}

div.ingredients {
margin-top: 1em;
margin-bottom: 1em;
}

div.headnote {
margin-top: 1em;
margin-bottom: 1em;
}

p.yield {
text-indent: 0em;
font-style: italic;
text-align: right;
}

div.procedure {
margin-top: 1em;
margin-bottom: 1em;
}



h1.recipe-title {
font-size: medium;
font-weight: bold;
text-align: left;
margin-top: 2em;
margin-bottom: 1em;
}

p.ingredient {
text-indent: 0pt;
}

p.step {
text-indent: 0pt;
}


.small-caps
{
font-size: x-small;
}

.drop-caps
{
font-size: x-large;
}

.index
{
font-size: small;
text-indent:-1em;
padding-left:15px;
margin-bottom:0em;
margin-top:0em;
}
.index1
{
font-size: small;
margin-top: 1em;
text-indent:-1em;
padding-left:15px;
margin-bottom:0em;
}
.indexsub
{
font-size: small;
text-indent:0em;
margin-left:1em;
}
.indexsubsub
{
font-size: small;
text-indent:-1em;
padding-left:3em;
}

.center {
font-size: small;
text-indent: 0em;
margin-top: 1em;
margin-bottom: 0em;
text-align: center;
}

.center1 {
font-size: small;
text-indent: 0em;
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
}

.image {
font-size: small;
text-indent: 0em;
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
}

.imagea {
font-size: small;
text-indent: 2.5em;
margin-top: 0.5em;
margin-bottom: 1em;
text-align: left;
}

.hang {
font-size: small;
text-indent: -1.8em;
margin-left: 1.8em;
margin-top: 0em;
margin-bottom: 0em;
text-align: justify;
}

.noindent1 {
font-size: small;
text-indent: 0em;
margin-top: 1em;
margin-bottom: 0em;
text-align: justify;
}

h1.appendix-titles
{
font-size: medium;
margin-top: 3em;
margin-bottom: 1.5em;
text-align: center;
text-indent: 0pt;
font-weight:bold;
}

.space-break2aa { display: block;
 font-size: small;
 margin-top: 0em;
 margin-bottom: 1em;
 margin-left: 0em;
 margin-right: 0em;
 text-indent: 20pt;
text-align:justify;
 }
