/* styles.css */
@font-face {
  font-family: "Kalpurush";
  font-style: normal;
  font-weight: normal;
  src: url(../Fonts/4CNaidu01.ttf);
}
@font-face {
  font-family: "Kalpurush";
  font-style: italic;
  font-weight: normal;
  src: url(../Fonts/SolaimanLipi-Italic.ttf);
}
@font-face {
  font-family: "Kalpurush";
  font-style: normal;
  font-weight: bold;
  src: url(../Fonts/4CNaidu01Bold.ttf);
}

ul, ol { margin:0em; padding:0em; }
th, td { vertical-align:top; text-align:left; }

h1 {
text-align: justify;
font-weight: bold;
font-style: normal;
font-size: 1.25em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
page-break-after: avoid;
text-align: left;
margin-top: 0.84em;
margin-bottom: 0.42em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

h2 {
text-align: justify;
font-weight: bold;
font-style: normal;
font-size: 1.08em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
page-break-after: avoid;
text-align: left;
margin-top: 0.70em;
margin-bottom: 0.42em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

h3 {
text-align: justify;
font-weight: bold;
font-style: normal;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

h4 {
text-align: justify;
font-weight: bold;
font-style: italic;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

h5 {
text-align: justify;
font-weight: bold;
font-style: normal;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

h6 {
text-align: justify;
font-weight: bold;
font-style: normal;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Normal {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
line-height: 150.00%;
}

p.P_Body_Text {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Body_Text_First_Indent {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.20em;
line-height: 150.00%;
}

h1.P_Heading_1, h2.P_Heading_1, h3.P_Heading_1, h4.P_Heading_1, h5.P_Heading_1, h6.P_Heading_1 {
text-align: justify;
font-weight: bold;
font-size: 1.25em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
page-break-after: avoid;
margin-top: 0.84em;
margin-bottom: 0.42em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

h1.P_Heading_2, h2.P_Heading_2, h3.P_Heading_2, h4.P_Heading_2, h5.P_Heading_2, h6.P_Heading_2 {
text-align: justify;
font-weight: bold;
font-size: 1.08em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
page-break-after: avoid;
margin-top: 0.70em;
margin-bottom: 0.42em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

h1.P_Heading_3, h2.P_Heading_3, h3.P_Heading_3, h4.P_Heading_3, h5.P_Heading_3, h6.P_Heading_3 {
text-align: justify;
font-weight: bold;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

h1.P_Heading_4, h2.P_Heading_4, h3.P_Heading_4, h4.P_Heading_4, h5.P_Heading_4, h6.P_Heading_4 {
text-align: justify;
font-weight: bold;
font-style: italic;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

h1.P_Heading_5, h2.P_Heading_5, h3.P_Heading_5, h4.P_Heading_5, h5.P_Heading_5, h6.P_Heading_5 {
text-align: justify;
font-weight: bold;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

h1.P_Heading_6, h2.P_Heading_6, h3.P_Heading_6, h4.P_Heading_6, h5.P_Heading_6, h6.P_Heading_6 {
text-align: justify;
font-weight: bold;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Headers {
text-align: justify;
font-size: 1.00em;
text-transform: uppercase;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Footers {
text-align: justify;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_HTML {
text-align: justify;
font-size: 0.83em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Preformatted {
text-align: justify;
font-size: 0.83em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Centre {
text-align: justify;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Right {
text-align: justify;
font-size: 1.00em;
text-align: right;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_TOC_Heading {
text-align: justify;
font-weight: bold;
font-size: 1.33em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_TOC_Entry_1 {
text-align: justify;
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.50em;
margin-bottom: 0.50em;
margin-left: 1.20em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_TOC_Entry_2 {
text-align: justify;
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 2.40em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_TOC_Entry_3 {
text-align: justify;
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 3.60em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_TOC_Entry_4 {
text-align: justify;
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 4.80em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_TOC_Entry_5 {
text-align: justify;
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 6.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_TOC_Entry_6 {
text-align: justify;
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 7.20em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Index_Heading {
text-align: justify;
font-weight: bold;
font-size: 1.33em;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Index_Group_Heading {
text-align: justify;
font-weight: bold;
font-size: 1.17em;
margin-top: 1.20em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Index_Entry_1 {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 1.20em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Index_Entry_2 {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 2.40em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Index_Entry_3 {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 3.60em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Endnotes_Heading {
text-align: justify;
font-weight: bold;
font-size: 1.33em;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Footnote {
text-align: justify;
font-size: 0.83em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Endnotes_Group {
text-align: justify;
font-size: 1.17em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Picture_Caption {
text-align: justify;
font-style: italic;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Table_Caption {
text-align: justify;
font-style: italic;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Bibliography_Heading {
text-align: justify;
font-weight: bold;
font-size: 1.33em;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Bibliography_Group {
text-align: justify;
font-size: 1.17em;
margin-top: 1.20em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Bibliography_Entry {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 1.80em;
margin-right: 0.00em;
text-indent: -1.80em;
line-height: 150.00%;
}

p.P_Only_Epub {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Only_Lulu_Epub {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Only_Epub_3 {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Only_Mobipocket {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Only_OpenDocument {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Only_Smashwords_OpenDocument {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Only_Text {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Only_HTML {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Only_MP3 {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Only_HTB {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Only_CHM {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Only_CBZ {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Only_DAISY {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Standard {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
line-height: 150.00%;
}

p.P_Heading {
text-align: justify;
font-size: 1.17em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
page-break-after: avoid;
margin-top: 0.84em;
margin-bottom: 0.42em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

h1.P_Heading_1__And__Centre_Alignment, h2.P_Heading_1__And__Centre_Alignment, h3.P_Heading_1__And__Centre_Alignment, h4.P_Heading_1__And__Centre_Alignment, h5.P_Heading_1__And__Centre_Alignment, h6.P_Heading_1__And__Centre_Alignment {
text-align: justify;
font-weight: bold;
font-size: 1.25em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
page-break-after: avoid;
text-align: center;
margin-top: 0.84em;
margin-bottom: 0.42em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

div.P_Standard__And__Centre_Alignment, p.P_Standard__And__Centre_Alignment {
text-align: justify;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

h1.P_Heading_2__And__Centre_Alignment, h2.P_Heading_2__And__Centre_Alignment, h3.P_Heading_2__And__Centre_Alignment, h4.P_Heading_2__And__Centre_Alignment, h5.P_Heading_2__And__Centre_Alignment, h6.P_Heading_2__And__Centre_Alignment {
text-align: justify;
font-weight: bold;
font-size: 1.08em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
page-break-after: avoid;
text-align: center;
margin-top: 0.70em;
margin-bottom: 0.42em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

div.P_Normal__And__Centre_Alignment, p.P_Normal__And__Centre_Alignment {
text-align: justify;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

div.P_Standard__And__Centre_Alignment__And__Line_Spacing, p.P_Standard__And__Centre_Alignment__And__Line_Spacing {
text-align: justify;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

div.P_Standard__And__Centre_Alignment__And__Spacing_After__And__Spacing_Before__And__Line_Spacing, p.P_Standard__And__Centre_Alignment__And__Spacing_After__And__Spacing_Before__And__Line_Spacing {
text-align: justify;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

div.P_Standard__And__Centre_Alignment__And__Left_Indent__And__Right_Indent__And__Line_Spacing, p.P_Standard__And__Centre_Alignment__And__Left_Indent__And__Right_Indent__And__Line_Spacing {
text-align: justify;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

div.P_Standard__And__Centre_Alignment__And__Left_Indent__And__Right_Indent__And__Line_Spacing__OPENPAR_1_CLOSEPAR_, p.P_Standard__And__Centre_Alignment__And__Left_Indent__And__Right_Indent__And__Line_Spacing__OPENPAR_1_CLOSEPAR_ {
text-align: justify;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Standard__And__Justification__And__Line_Spacing {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
line-height: 150.00%;
}

p.P_Standard__And__Right_Alignment__And__Spacing_After__And__Spacing_Before__And__Line_Spacing {
text-align: justify;
font-size: 1.00em;
text-align: right;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Standard__And__Justification {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
line-height: 150.00%;
}

p.P_Standard__And__Justification__And__Left_Indent__And__Right_Indent__And__Line_Spacing {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
line-height: 150.00%;
}

p.P_Standard__And__Right_Alignment__And__Line_Spacing {
text-align: justify;
font-size: 1.00em;
text-align: right;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Standard__And__Left_Alignment {
text-align: justify;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
line-height: 150.00%;
}

p.P_Standard__And__Left_Alignment__And__Line_Spacing {
text-align: justify;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
line-height: 150.00%;
}

p.P_Standard__And__Justification__And__Left_Indent__And__Right_Indent__And__Line_Spacing__OPENPAR_1_CLOSEPAR_ {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
line-height: 150.00%;
}

div.P_Standard__And__Centre_Alignment__And__Line_Spacing__OPENPAR_1_CLOSEPAR_, p.P_Standard__And__Centre_Alignment__And__Line_Spacing__OPENPAR_1_CLOSEPAR_ {
text-align: justify;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Standard__And__Spacing_After__And__Spacing_Before__And__Line_Spacing {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
line-height: 150.00%;
}

p.P_Standard__And__Justification__And__Left_Indent__And__Right_Indent__And__Line_Spacing__OPENPAR_2_CLOSEPAR_ {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
line-height: 150.00%;
}

p.P_Standard__And__Justification__And__Line_Spacing__OPENPAR_1_CLOSEPAR_ {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
line-height: 150.00%;
}

p.P_Standard__And__Centre_Alignment__And__Spacing_After__And__Spacing_Before__And__Line_Spacing__OPENPAR_1_CLOSEPAR_ {
text-align: justify;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Standard__And__Centre_Alignment__And__Spacing_After__And__Spacing_Before__And__Line_Spacing__OPENPAR_2_CLOSEPAR_ {
text-align: justify;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Standard__And__Centre_Alignment__And__Spacing_After__And__Spacing_Before__And__Line_Spacing__OPENPAR_3_CLOSEPAR_ {
text-align: justify;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Standard__And__Justification__And__Left_Indent__And__Right_Indent__And__Spacing_After__And__Spacing_Before__And__Line_Spacing {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
line-height: 150.00%;
}

p.P_Standard__And__Line_Spacing {
text-align: justify;
font-size: 1.00em;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.00em;
line-height: 150.00%;
}

p.P_Standard__And__Centre_Alignment__And__Left_Indent__And__Line_Spacing {
text-align: justify;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

.C_Citation {
text-align: justify;
line-height: 150.00%;
}

.C_Comment_Text {
text-align: justify;
background-color: #FEFFBB;
line-height: 150.00%;
}

.C_Comment_Content {
text-align: justify;
background-color: #D9DAFF;
line-height: 150.00%;
}

.C_URL {
text-align: justify;
text-decoration: underline !important;
color: #0000FF;
line-height: 150.00%;
}

.C_HTML_Text {
text-align: justify;
font-size: 10pt;
color: #808080;
line-height: 150.00%;
}

.C_Drop_Caps {
text-align: justify;
height: 0.75em;
font-size: 280%;
margin-right: 0.075em;
float:left;
line-height: 150.00%;
}
.C_Small_Caps {
text-align: justify;
font-size: 8pt;
line-height: 150.00%;
}

.C_Current__And__Kalpurush {
text-align: justify;
font-family: Kalpurush;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__18pt {
text-align: justify;
font-family: Kalpurush;
font-size: 18pt;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Coloured_Background__And__Kalpurush__And__9pt {
text-align: justify;
font-family: Kalpurush;
font-size: 9pt;
color: #000000;
background-color: #FFBF00;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Coloured_Background__And__Kalpurush {
text-align: justify;
font-family: Kalpurush;
color: #000000;
background-color: #FFBF00;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Coloured_Background__And__Kalpurush__And__14pt {
text-align: justify;
font-family: Kalpurush;
font-size: 14pt;
color: #000000;
background-color: #FFBF00;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__14pt {
text-align: justify;
font-family: Kalpurush;
font-size: 14pt;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__10pt {
text-align: justify;
font-family: Kalpurush;
font-size: 10pt;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__9pt__And__Italic {
text-align: justify;
font-family: Kalpurush;
font-style: italic;
font-size: 9pt;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__11pt__And__No_Italic {
text-align: justify;
font-family: Kalpurush;
font-style: normal;
font-size: 11pt;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__10pt__And__No_Italic {
text-align: justify;
font-family: Kalpurush;
font-style: normal;
font-size: 10pt;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__12pt__And__No_Italic {
text-align: justify;
font-family: Kalpurush;
font-style: normal;
font-size: 12pt;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Coloured_Background__And__Kalpurush__And__11pt__And__No_Bold__And__No_Italic {
text-align: justify;
font-weight: normal;
font-family: Kalpurush;
font-style: normal;
font-size: 11pt;
color: #000000;
background-color: #FFBF00;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__12pt__And__Bold__And__No_Italic {
text-align: justify;
font-weight: bold;
font-family: Kalpurush;
font-style: normal;
font-size: 12pt;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__11pt__And__No_Bold__And__No_Italic {
text-align: justify;
font-weight: normal;
font-family: Kalpurush;
font-style: normal;
font-size: 11pt;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Coloured_Background__And__Kalpurush {
text-align: justify;
font-family: Kalpurush;
background-color: #FFBF00;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__9pt {
text-align: justify;
font-family: Kalpurush;
font-size: 9pt;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Black_Text {
text-align: justify;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__12pt {
text-align: justify;
font-family: Kalpurush;
font-size: 12pt;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Kalpurush__And__9pt {
text-align: justify;
font-family: Kalpurush;
font-size: 9pt;
line-height: 150.00%;
}

.C_Current__And__Kalpurush__And__10pt {
text-align: justify;
font-family: Kalpurush;
font-size: 10pt;
line-height: 150.00%;
}

.C_Current__And__Kalpurush__And__10pt__And__Bold {
text-align: justify;
font-weight: bold;
font-family: Kalpurush;
font-size: 10pt;
line-height: 150.00%;
}

.C_Current__And__Coloured_Background__And__Kalpurush__And__10pt {
text-align: justify;
font-family: Kalpurush;
font-size: 10pt;
background-color: #FFBF00;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Coloured_Background__And__Kalpurush__And__12pt {
text-align: justify;
font-family: Kalpurush;
font-size: 12pt;
color: #000000;
background-color: #FFBF00;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__8pt {
text-align: justify;
font-family: Kalpurush;
font-size: 8pt;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__16pt {
text-align: justify;
font-family: Kalpurush;
font-size: 16pt;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__12pt__And__Italic {
text-align: justify;
font-family: Kalpurush;
font-style: italic;
font-size: 12pt;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Coloured_Background__And__Kalpurush__And__16pt {
text-align: justify;
font-family: Kalpurush;
font-size: 16pt;
color: #000000;
background-color: #FFBF00;
line-height: 150.00%;
}

.C_Current__And__Kalpurush__And__16pt {
text-align: justify;
font-family: Kalpurush;
font-size: 16pt;
line-height: 150.00%;
}

.C_Current__And__Kalpurush__And__8pt {
text-align: justify;
font-family: Kalpurush;
font-size: 8pt;
line-height: 150.00%;
}

.C_Current__And__Kalpurush__And__12pt {
text-align: justify;
font-family: Kalpurush;
font-size: 12pt;
line-height: 150.00%;
}

.C_Current__And__Coloured_Background__And__Kalpurush__And__9pt {
text-align: justify;
font-family: Kalpurush;
font-size: 9pt;
background-color: #FFBF00;
line-height: 150.00%;
}

.C_Current__And__Kalpurush__And__12pt__And__No_Bold {
text-align: justify;
font-weight: normal;
font-family: Kalpurush;
font-size: 12pt;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush {
text-align: justify;
font-family: Kalpurush;
color: #000000;
line-height: 150.00%;
}

.C_Current__And__Black_Text__And__Kalpurush__And__11pt {
text-align: justify;
font-family: Kalpurush;
font-size: 11pt;
color: #000000;
line-height: 150.00%;
}

.B_Simple_Box {
text-align: justify;
padding-left: 1.00mm;
padding-top: 1.00mm;
padding-right: 1.00mm;
padding-bottom: 1.00mm;
border-left-width: 1.00pt;
border-left-color: #000000;
border-left-style: solid;
border-top-width: 1.00pt;
border-top-color: #000000;
border-top-style: solid;
border-right-width: 1.00pt;
border-right-color: #000000;
border-right-style: solid;
border-bottom-width: 1.00pt;
border-bottom-color: #000000;
border-bottom-style: solid;
line-height: 150.00%;
}

a {
text-decoration:none;
}

