/* page_styles.css */
@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    src: url("fonts/SolaimanLipi - Regular.ttf");
    font-family: "SolaimanLipi"
    }
@font-face {
    src: url("fonts/Times New Roman - Regular.ttf");
    font-family: "Times New Roman"
    }
@font-face {
    src: url("fonts/Times New Roman - Italic.ttf");
    font-style: italic;
    font-family: "Times New Roman"
    }
@font-face {
    src: url("fonts/SolaimanLipi - Bold.ttf");
    font-weight: bold;
    font-family: "SolaimanLipi"
    }
@font-face {
    src: url("fonts/SolaimanLipi - Italic.ttf");
    font-style: italic;
    font-family: "SolaimanLipi"
    }

.chapter-heading { text-align:center; font-weight:bold; font-size:1.4em; }


/* stylesheet.css */
.block_ {
    color: black;
    display: block;
    line-height: 1.5;
    margin: 0 0 8pt;
    padding: 0
    }
.block_1 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.625em;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 8pt;
    padding: 0
    }
.block_2 {
    color: #44546A;
    display: block;
    font-size: 2em;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 8pt;
    padding: 0
    }
.block_3 {
    color: #2F5496;
    display: block;
    font-size: 2em;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 8pt;
    padding: 0
    }
.block_4 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 8pt;
    padding: 0
    }
.block_5 {
    color: #2F5496;
    display: block;
    font-size: 1.66667em;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 8pt;
    padding: 0
    }
.block_6 {
    color: black;
    display: block;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 8pt;
    padding: 0
    }
.block_7 {
    color: black;
    display: block;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 8pt;
    padding: 0
    }
.block_8 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_9 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 8pt;
    padding: 0
    }
.block_10 {
    color: black;
    display: block;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 8pt;
    padding: 0
    }
.block_11 {
    color: black;
    display: block;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_12 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_13 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 8pt;
    padding: 0
    }
.block_14 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_15 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 8pt;
    padding: 0
    }
.block_16 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.625em;
    line-height: 1.5;
    margin: 0 0 8pt;
    padding: 0
    }
.block_17 {
    display: block;
    font-size: 1.29167em;
    line-height: 1.5;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 30pt 0 0;
    padding: 0
    }
.block_18 {
    color: black;
    display: block;
    font-size: 1.29167em;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 8pt;
    padding: 0
    }
.block_19 {
    color: black;
    display: block;
    line-height: 1.5;
    margin: 0 0 8pt;
    padding: 0
    }
.block_20 {
    color: black;
    display: block;
    font-family: serif;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 8pt;
    padding: 0
    }
.block_21 {
    color: black;
    display: block;
    font-size: 1.29167em;
    line-height: 1.5;
    text-align: right;
    margin: 0 0 8pt;
    padding: 0
    }
.block_22 {
    color: black;
    display: block;
    line-height: 1.5;
    margin: 0;
    padding: 0
    }
.block_23 {
    color: black;
    display: block;
    font-family: serif;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_24 {
    color: black;
    display: block;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_25 {
    color: black;
    display: block;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 8pt;
    padding: 0
    }
.block_26 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.625em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 8pt;
    padding: 0
    }
.block_27 {
    color: #4472C4;
    display: block;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_28 {
    color: black;
    display: block;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 0 36pt;
    padding: 0
    }
.block_29 {
    color: black;
    display: block;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 8pt 36pt;
    padding: 0
    }
.block_30 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    margin: 0 0 0 72pt;
    padding: 0
    }
.block_31 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    margin: 0 0 8pt 72pt;
    padding: 0
    }
.block_32 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 0 72pt;
    padding: 0
    }
.block_33 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 8pt 72pt;
    padding: 0
    }
.block_34 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 0 36pt;
    padding: 0
    }
.block_35 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 8pt 36pt;
    padding: 0
    }
.block_36 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 18pt;
    margin: 0 0 0 36pt;
    padding: 0
    }
.block_37 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 18pt;
    margin: 0 0 8pt 36pt;
    padding: 0
    }
.block_38 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 0 36pt;
    padding: 0
    }
.block_39 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 0 72pt;
    padding: 0
    }
.block_40 {
    color: black;
    display: block;
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 8pt;
    padding: 0
    }
.block_41 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.625em;
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 8pt;
    padding: 0
    }
.block_42 {
    color: black;
    display: block;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 8pt;
    padding: 0
    }
.block_43 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 8pt 72pt;
    padding: 0
    }
.block_44 {
    color: black;
    display: block;
    line-height: 1.5;
    text-indent: 36pt;
    margin: 0 0 8pt;
    padding: 0
    }
.block_45 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    margin: 0 108pt 0 72pt;
    padding: 0
    }
.block_46 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    margin: 0 108pt 8pt 72pt;
    padding: 0
    }
.block_47 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    margin: 0 36pt 8pt;
    padding: 0
    }
.block_48 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    margin: 0 36pt 8pt;
    padding: 0
    }
.block_49 {
    display: block;
    font-family: serif;
    font-size: 1.29167em;
    line-height: 1.5;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 30pt 0 0;
    padding: 0
    }
.block_50 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 0 72pt;
    padding: 0
    }
.block_51 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_52 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 0 108pt;
    padding: 0
    }
.block_53 {
    color: #7030A0;
    display: block;
    font-size: 1.29167em;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 8pt;
    padding: 0
    }
.block_54 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 0 108pt;
    padding: 0
    }
.block_55 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 8pt 108pt;
    padding: 0
    }
.block_56 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 0 58.5pt;
    padding: 0
    }
.block_57 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 0 58.5pt;
    padding: 0
    }
.block_58 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 0 58.5pt;
    padding: 0
    }
.block_59 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 0 58.5pt;
    padding: 0
    }
.block_60 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 8pt 58.5pt;
    padding: 0
    }
.block_61 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 0 144pt;
    padding: 0
    }
.block_62 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 0 72pt;
    padding: 0
    }
.block_63 {
    color: black;
    display: block;
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 8pt;
    padding: 0
    }
.calibre {
    color: #1F4D78;
    display: block;
    font-family: "SolaimanLipi", cursive;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    line-height: 1.5;
    line-height: 1.5;
    width: 62.1pt
    }
.calibre3 {
    font-style: italic;
    line-height: 1.5;
    line-height: 1.5;
    vertical-align: middle
    }
.calibre5 {
    display: table-row;
    line-height: 1.5;
    vertical-align: inherit
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    line-height: 1.5;
    white-space: pre-wrap
    }
.calibre8 {
    display: block;
    float: left;
    height: 909pt;
    line-height: 1.5;
    width: 578pt
    }
.table_ {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-indent: 0;
    width: 100%;
    padding: 0;
    border: black solid 1pt
    }
.td_ {
    display: table-cell;
    line-height: 1.5;
    text-align: inherit;
    vertical-align: middle;
    width: 33.3%;
    padding: 0.5ex 5.4pt;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt
    }
.td_1 {
    display: table-cell;
    line-height: 1.5;
    text-align: inherit;
    vertical-align: middle;
    width: 33.3%;
    padding: 0.5ex 5.4pt;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt
    }
.td_2 {
    display: table-cell;
    line-height: 1.5;
    text-align: inherit;
    vertical-align: middle;
    width: 33.3%;
    padding: 0.5ex 5.4pt;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt
    }
.td_3 {
    display: table-cell;
    line-height: 1.5;
    text-align: inherit;
    vertical-align: middle;
    width: 33.3%;
    padding: 0.5ex 5.4pt;
    border-top: black solid 1pt;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt
    }
.td_4 {
    display: table-cell;
    line-height: 1.5;
    text-align: inherit;
    vertical-align: middle;
    width: 33.3%;
    padding: 0.5ex 5.4pt;
    border: black solid 1pt
    }
.td_5 {
    display: table-cell;
    line-height: 1.5;
    text-align: inherit;
    vertical-align: middle;
    width: 33.3%;
    padding: 0.5ex 5.4pt;
    border-top: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt
    }
.td_6 {
    display: table-cell;
    line-height: 1.5;
    text-align: inherit;
    vertical-align: middle;
    width: 33.3%;
    padding: 0.5ex 5.4pt;
    border-top: black solid 1pt;
    border-right: black solid 1pt
    }
.td_7 {
    display: table-cell;
    line-height: 1.5;
    text-align: inherit;
    vertical-align: middle;
    width: 33.3%;
    padding: 0.5ex 5.4pt;
    border-top: black solid 1pt;
    border-right: black solid 1pt;
    border-left: black solid 1pt
    }
.td_8 {
    display: table-cell;
    line-height: 1.5;
    text-align: inherit;
    vertical-align: middle;
    width: 33.3%;
    padding: 0.5ex 5.4pt;
    border-top: black solid 1pt;
    border-left: black solid 1pt
    }
.text_ {
    color: #0563C1;
    line-height: 1.5;
    text-decoration: none
    }
.text_1 {
    font-family: "Times New Roman", serif;
    font-size: 1.33333em;
    line-height: 1.5;
    font-size: 1.6em;
    line-height: 1.5;
    line-height: 1.5;
    font-style: italic;
    line-height: 1.5;
    line-height: 1.5;
    font-style: italic;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    margin: 20pt 0;
}
body {
    font-size: 1.15em;
    line-height: 1.5;
}
p {
    font-size: 1.15em;
    line-height: 1.5;
}

.chapter-heading { text-align:center; font-weight:bold; font-size:1.4em; }
