/* stylesheet.css */
.bold {
  font-weight: bold;
}
.calibre {
  display: block;
  font-family: "Kalpurush", serif;
  font-size: 1em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
  margin: 0 5pt;
}
.calibre_ {
  display: block;
  text-align: center;
  text-indent: 0;
  margin: 0;
}
.calibre_1 {
  height: 1430px;
  vertical-align: baseline;
  width: 1072px;
}
.calibre_2 {
  display: block;
  text-align: center;
  text-indent: 0;
  margin: 1em 0 0;
}
.calibre_3 {
  color: #ff4500;
}
.calibre_4 {
  color: #870a30;
}
.calibre_5 {
  display: block;
  text-align: center;
  text-indent: 1em;
  margin: 1em 0 0;
}
.calibre_6 {
  color: #008000;
}
.calibre_7 {
  display: block;
  text-align: center;
  text-indent: 0;
  margin: 10em 0 0;
}
.calibre_8 {
  height: 208px;
  vertical-align: baseline;
  width: 214px;
}
.calibre_9 {
  display: block;
  text-align: left;
  text-indent: 0;
  margin: 2em 0 0;
}
.calibre_10 {
  display: block;
  text-align: left;
  text-indent: 0;
  margin: 1pt 0 0;
}
.calibre_11 {
  display: block;
  text-align: left;
  text-indent: 0;
  margin: 1em 0 0;
}
.calibre_12 {
  display: block;
  height: 1em;
}
.calibre_13 {
  display: block;
  list-style-type: decimal;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 1em;
  text-indent: 0;
}
.calibre_14 {
  display: list-item;
  margin-top: 0;
  text-align: center;
  text-indent: 0;
}
.calibre_15 {
  display: block;
  list-style-type: decimal;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  text-indent: 0;
}
.calibre_16 {
  display: block;
  text-align: justify;
  text-indent: 1em;
  margin: 1em 0 0;
}
.calibre_17 {
  display: block;
  text-align: right;
  text-indent: 1em;
  margin: 1em 0 0;
}
.calibre_18 {
  height: 250px;
  vertical-align: baseline;
  width: 200px;
}
.calibre1 {
  display: block;
}
.calibre2 {
  font-size: 1.5em;
  line-height: 1.2;
}
.calibre3 {
  font-size: 1.375em;
  line-height: 1.2;
}
.calibre4 {
  font-size: 0.75em;
}
.calibre5 {
  color: gray;
  display: block;
  height: 2px;
  margin: 0.5em auto;
  border: currentColor inset 1px;
}
.mbp_pagebreak {
  display: block;
  margin: 0;
}
